<!-- <div class="container">
    <div class="row">
        <div class="col">
            <h2>¿Estas interesado en mis servicios?</h2>
            <h2>Enviame un mensaje</h2>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mario Hernandez">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mario@gmail.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <input type="text" class="form-control" placeholder="Pais">
            </div>
        </div>
    </div>
</div> -->

<div class="m-3 my-5">
    <div class="contact__wrapper m-3">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h2 class="h1">¿Estas interesado en mis servicios?</h2>
                <h3>¡Contactame!</h3>
            </div>
        </div>
        <div class="row no-gutters shadow rounded">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-4 order-lg-2">
                <h3 class="color--white mb-5">Contacto</h3>
    
                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-envelope"></i></span> eduis.carranza123@gmail.com
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-phone"></i></span> +51 912003346
                    </li>
                    <li class="mb-4 pl-4">
                        Si te gusta mi trabajo no dudes en contactarme. Estoy para ayudarte.
                    </li>
                </ul>
            </div>
    
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h2>Enviame un mensaje</h2>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">Nombre</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ingrese aqui su nombre">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Apellido</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingrese aqui su apellido">
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="correo@yt.com">
                            </div>
                        </div>
    
                        <!-- <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="(021)-454-545">
                            </div>
                        </div> -->
    
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="message">¿En que te puedo ayudar?</label>
                                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Escriba su mensaje"></textarea>
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
                        </div>
    
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>
