<nav class="navbar navbar-expand-lg bg-body-tertiar shadow-bottom">
  <div class="container-fluid">
    <a routerLink="/"><img src="../../../assets/a121513f9bb2466bbe49d62d204889ce.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="hover-custom nav-link btn btn-primary" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="hover-custom nav-link btn btn-primary" routerLink="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="hover-custom nav-link btn btn-primary" >Pricing</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>