<app-slider></app-slider>
<div class="container">
    <div class="row text-center py-5">
        <div class="col-12 mb-3">
            <h2>Soluciones Personalizadas y Eficientes para su Presencia en Línea</h2>
            <p>
                Soy un desarrollador de software enfocado en el backend y freelancer. Ofrezco soluciones a medida para sitios web, utilizando las últimas tendencias en diseño y programación. Trabajo de manera individual y tengo experiencia en el manejo de WordPress. Me aseguro de desarrollar sitios web integrales, trabajando estrechamente con mis clientes para lograr soluciones rápidas y eficaces. Mi enfoque se centra en garantizar un funcionamiento óptimo y un rendimiento de alta calidad. Como freelancer, valoro la flexibilidad y la adaptabilidad para cumplir con los requisitos específicos de mis clientes. Si necesita un desarrollador de software con experiencia en backend y manejo de WordPress, estoy aquí para ayudarle a crear una presencia en línea exitosa. Contácteme para discutir su proyecto.
            </p>
        </div>
        <div class="row text-center">
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-between gap-3">
                <i class="ico-custom fas fa-desktop-alt link-primary"></i>
                <h2>DESARROLLADOR DE ESCRITORIO</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis deleniti sed inventore, atque perspiciatis repellendus numquam. Impedit, nobis porro harum natus enim incidunt, commodi fuga nisi explicabo amet officia repellendus!</p>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-between gap-3">
                <i class="ico-custom fa-sharp fa-solid fa-pager link-primary"></i>
                <h2>DESARROLLADOR WEB</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis deleniti sed inventore, atque perspiciatis repellendus numquam. Impedit, nobis porro harum natus enim incidunt, commodi fuga nisi explicabo amet officia repellendus!</p>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-between gap-3">
                <i class="ico-custom fab fa-wordpress link-primary"></i>
                <h2>WORDPRESS</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis deleniti sed inventore, atque perspiciatis repellendus numquam. Impedit, nobis porro harum natus enim incidunt, commodi fuga nisi explicabo amet officia repellendus!</p>
            </div>
        </div>
    </div>
</div>
