<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Escritorio</a></li>
                        <li><a href="#">Desarrollo web</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre mi</h3>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Habilidades</a></li>
                        <li><a href="#">Proyectos</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <p>Programador Web Freelancer. Diseño, Programación y Desarrollo Web - Lima - Peru</p>
                </div>
                <div class="col item social">
                    <a href="https://www.linkedin.com/in/eduis-rodrigo-guzman-carranza-3a2111260/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/SoyRodri"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <p class="copyright">Rodrigo Guzman © 2023</p>
        </div>
    </footer>
</div>